<div class="container">
  <div class="row">
    <div id="card">
      <div class="col-xs-6" id="name">Name</div>
      <div class="col-xs-3" id="spot_number">Spot-Number</div>
      <div class="col-xs-3" id="spot_type">Spot-Type</div>
    </div>
  </div>
</div>
