<div class="container">
  <div id="card">
    <div class="row">
      <div class="col-xs-4" id="name">Name
        <input type="text" size="16" name="name"></div>
      <div class="col-xs-3 col-xs-offset-2" id="spot_number">S_Number
        <input type="text" size="2" name="spot_number"></div>
      <div class="col-xs-3" id="spot_type">S_Type
        <input type="text" size="4" name="spot_type"></div>
    </div>
    <div class="row">
      <div class="col-xs-10" id="aura">Aura
        <input type="text" size="10" name="aura"></div>
    <div class="row">
      <div class="col-xs-9 col-xs-offset-1" id="type-img">Image</div>
    </div>
    <div class="row">
      <div class="col-xs-5 col-xs-offset-1" id="type">Type
        <input type="text" size="14" name="type"></div>
      <div class="col-xs-5" id="class">Group
        <input type="text" size="14" name="group"></div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1" id="ability">Ability
        <textarea class="form-control" rows="3" name="ability"></textarea></div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-xs-offset-1" id="burst">Burst
        <input type="text" size="2" name="burst"></div>
      <div class="col-xs-2 col-xs-offset-2" id="attack">Attack
        <input type="text" size="3" name="attack"></div>
      <div class="col-xs-2" id="defense">Defense
        <input type="text" size="3" name="defense"></div>
    </div>
  </div>
</div>

<div>
  <button class="create btn-success">Create</button>
</div>





