<div class="container">
  <div id="card">
    <div class="row">
      <div class="col-xs-4" id="name">Name
        <input type="text" size="14" name="name"></div>
      <div class="col-xs-3 col-xs-offset-2" id="spot_number">S_Number
        <input type="text" size="2" name="spot_number"></div>
      <div class="col-xs-3" id="spot_type">S_Type
        <input type="text" size="4" name="spot_type"></div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1" id="aura"</di
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1" id="type-img">Image</div>
    </div>
    <div class="row">
      <div class="col-xs-5 col-xs-offset-1" id="type"></div>
      <div class="col-xs-5" id="class"></div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1" id="ability"></div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-1" id="burst"></div>
      <div class="col-xs-2" id="attack"></div>
      <div class="col-xs-2" id="defense"></div>
    </div>
  </div>
</div>
