<h1>{{title}}</h1>

<div class="nav navbar">
    <div class="container">
      <div class="row">
        <div class="col-md-4"><u>hello</u></div>
        <div class="col-md-4">stuff</div>
        <div class="col-md-4"><s>world</s></div>
      </div>
      <div class="row">
          <div class="col-xs-2 col-offset-2"><u>hello</u></div>
          <div class="col-xs-8">stuff</div>
          <div class="col-xs-2"><s>world</s></div>
      </div>
    </div>
  </div>

