body {
  background-color: pink;
}

#card {
  background-color: lightgray;
  border: 10px solid gray;
  border-radius: 10px;
  height: 400px;
  width: 300px;
}

#type-img {
  border: 2px black solid;
  height: 70px;
  width: 66%;
}

.row {
  padding: 0px;
}

.edit {
  margin-top: 20px;
  margin-left: 20px;
}

.create {
  margin-top: 20px;
  margin-left: 20px;
}
