body {
  background-image: url(https://cdn.spacetelescope.org/archives/images/publicationjpg/heic0604a.jpg);
  background-size: full;
}

#card {
  background-color: lightgray;
  border: 10px solid gray;
  border-radius: 10px;
  height: 400px;
  width: 300px;
}

#type-img {
  height: 100px;
  width: 66%;
  border: 2px solid black;
}

.row {
  padding: 0px;
}

.edit {
  margin-top: 20px;
  margin-left: 20px;
}

.create {
  margin-top: 20px;
  margin-left: 20px;
}

footer {
  color: white;
}
