body {
  background-color: pink;
}

#card {
  background-color: lightgray;
  border: 10px solid gray;
  border-radius: 10px;
  height: 400px;
  width: 80%;
}

#type-img {
  border: 2px black solid;
  height: 100px;
}

.row {
  padding: 0px;
}

